doctype html
html(lang="en")
    head
        title= HellSite
        link(rel='stylesheet',href='/css/style.css')
        link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Anton&display=swap&subset=vietnamese')
    body
        #container
            h1 
                span#landing-title-main Welcome to 
                span#landing-title-sub HellSite!