doctype html
html(lang="en")
    head
        title= HellSite
        link(rel='stylesheet',href='/css/style.css')
        link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Anton&display=swap&subset=vietnamese')
    body
        #wraper
            #left
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") Home
                    li
                        a(href="#") Home
                    li
                        a(href="#") Home    

            #banner
                #banner_image0.banner_image
                #banner_image1.banner_image
                #banner_image2.banner_image
                
                a(class="next" onclick="forceLeft()") Next &#10094;
                
            #right
    script
        include banner.js